HF_TOKEN = "your_hugging_face_access_token"
OPEN_API_KEY = "your_open_api_key"
TAVILY_API = "your_tavily_api_key"
TAVILY_URL = "https://api.tavily.com/search"
WEATHER_API = "your_weather_api_key"
WEATHER_URL = "http://api.weatherapi.com/v1/current.json"
